--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
numpy>=1.26.0
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone>=0.1.1
langchain_community
langchain_openai
langchain_experimental
langchain-google-genai
langchain-classic
langchain-huggingface
gunicorn==21.2.0
-e .